body{
	margin: 0;
	padding: 0;
}

.welcome{
	background-color:$color-rojo;
}

.mis-pelis{
	margin-top:30px;
}


/*-------- PROFILE ANI ---------*/

.ani_profile_image{
	width:150px;
	margin-left:30%;
	margin-top:70px;
}
.ani_profile_infoUser{
	padding-left:30%;
}
#ani_profile_favoritos{
	background-color:#c14748;
	height:60px;
}
//.row .col{
//	padding:0;
//}